.quiz-app {
  background: rgba(144, 238, 144, 0.395);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-app__answers {
  width: 70%;
  height: 70%;
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  box-sizing: border-box;
  gap: 24px;
}

.quiz-app__answer {
  background: white;
  flex: 1 1 calc(50% - 24px);
  height: calc(50% - 24px);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.quiz-app__answer:hover {
  background: #ffeb99;
  transform: scale(1.05);
}

.quiz-app__answer--correct {
  background-color: #a7f3d0;
}

.quiz-app__answer--wrong {
  background-color: #fecaca;
}
