body {
  font-family: Poppins, sans-serif;
  background-image: url("images/rainbow-8305487_1920.jpg");
  background-size: cover;
  background-position: center;
}

.quiz-app {
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-app__answers {
  width: 100%;
  height: 60%;
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  box-sizing: border-box;
  gap: 24px;
}

.quiz-app__answer {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  background: white;
  flex: 1 1 calc(50% - 24px);
  border: none;
  height: calc(50% - 24px);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.quiz-app__answer:hover {
  background: #ffeb99;
}

.quiz-app__answer--correct,
.quiz-app__answer--correct:hover {
  background: rgb(104, 175, 161);
  color: white;
}

.quiz-app__answer--wrong,
.quiz-app__answer--wrong:hover {
  background: rgb(242, 91, 65);
  color: white;
}
