body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  background-image: url("images/rainbow-8305487_1920.jpg");
  background-size: cover;
  background-position: center;
}

.quiz-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  margin: 0 auto;
  height: 100svh;
}

.quiz-app__wrapper {
  width: 720px;
  text-align: center;
}

.quiz-app__answers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  box-sizing: border-box;
}

.quiz-app__answer {
  flex: 1 1 calc(50% - 12px);
  padding: 24px;
  min-height: 160px;
  border: none;
  border-radius: 20px;
  background: white;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.quiz-app__answer--correct,
.quiz-app__answer--correct:hover {
  border: 2px solid rgb(104, 175, 161);
}

.quiz-app__answer--wrong,
.quiz-app__answer--wrong:hover {
  border: 2px solid rgb(242, 91, 65);
}

#progress {
  margin-top: auto;
}
